/* HomeLoader.module.css */
.loader {
  width: 100px;
  height: 100px;
  margin: 15% auto;
  position: relative;
}

.circle {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 5px solid #007bff; /* Cambia el color del círculo según tus preferencias */
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
