.element {
  background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco brillante */
  color: white; /* Cambiamos el color a blanco */
  border: 2px solid rgb(253, 252, 252); /* Borde con color hotpink */
  border-radius: 10px; /* Aumenta la suavidad de los bordes */
  padding: 15px; /* Aumenta el espacio interior */
  box-shadow: 5px 5px 10px rgba(255, 254, 254, 0.5), /* Sombra suave */
    0 0 10px rgba(255, 255, 255, 0.7); /* Efecto de sombra para crear el efecto "neón" */
  transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out, font-size 0.3s ease-in-out, text-shadow 0.3s ease-in-out; /* Agrega el efecto de transición al "neón" */
  text-shadow: 0 0 10px rgb(255, 255, 255); /* Efecto de sombra para crear el efecto "neón" */
}

/* Estilo para el formulario */
.form {
  width: 40%; /* Cambiado al 100% para que el fondo gris se extienda por todo el contenedor */
  height: 240vh;
  margin: 0 auto;
  margin-top: 5%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px; /* Aumenta el espacio interior */
  border-radius: 10px; /* Aumenta la suavidad de los bordes */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4); /* Sombra suave */
}

/* Resto de tus estilos... */


/* Estilo para el fieldset */
.fieldset {
  color: white;
  border: 2px solid rgb(255, 255, 255); /* Borde con color hotpink */
  border-radius: 10px; /* Aumenta la suavidad de los bordes */
  padding: 10px; /* Aumenta el espacio interior */
}

/* Estilo para las etiquetas */
.label {
  font-weight: bold; /* Hace que las letras sean más negritas */
  color: white;
  font-size: large;
  margin-top: 10px; /* Espaciado superior */
}

.labelCb {
  color: rgb(252, 251, 251);
  font-size: large;
}

.labelsPyG {
  font-size: medium;
  color: white;
  margin-top: 10px; /* Espaciado superior */
}

/* Estilo para el contenedor de textarea */
.textareaContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px; /* Espaciado superior */
}

/* Estilo para el textarea */
.textarea {
  margin-left: auto; /* Mueve el textarea al centro horizontalmente */
  margin-right: auto; /* Mueve el textarea al centro horizontalmente */
  width: 70%; /* Ajusta el ancho para que sea responsivo */
  resize: none;
  font-size: large;
  border-radius: 10px; /* Aumenta la suavidad de los bordes */
  background-color: white; /* Fondo semitransparente */
  color: black;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}

.textarea:focus {
  border-color: rgb(14, 13, 13); /* Cambia el color del borde al enfocar */
}

/* Estilo para los inputs */
.input {
  font-weight: bold; /* Hace que las letras sean más negritas */
  text-indent: 2%;
  background-color: rgba(18, 17, 17, 0.3); /* Fondo semitransparente */
  color: white;
  border: 2px solid rgb(249, 246, 246); /* Borde con color hotpink */
  border-radius: rgb(255, 252, 252) 10px; /* Aumenta la suavidad de los bordes */
  font-size: large;
  margin-top: 10px; /* Espaciado superior */
}

/* Estilo para los checkboxes */
.checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  font-size: medium;
  font-weight: bold;
  margin-top: 10px; /* Espaciado superior */
}

/* Estilo para los botones */
.buttons {
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 15px;
  border-radius: 10px;
  font-size: large;
  background-color: rgb(184, 171, 171);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(245, 237, 241);
  transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out, font-size 0.3s ease-in-out;
  cursor: not-allowed; /* Cambia el cursor a "no permitido" por defecto */
}

.buttons:disabled {
  background-color: lightgray; /* Cambia el fondo a un color gris cuando el botón esté desactivado */
  border-color: gray; /* Cambia el color del borde a gris cuando el botón esté desactivado */
  cursor: not-allowed; /* Mantiene el cursor como "no permitido" cuando el botón esté desactivado */
}

.buttons:hover:enabled,
.buttons:focus:enabled {
  box-shadow: 15px 15px 30px rgba(14, 13, 13, 0.7), -15px -15px 30px rgba(255, 255, 255, 0.7);
  color: rgb(9, 9, 9);
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}


