/* Buttons.module.css */
.buttonsContainer {
    display: flex;
    align-items: center;
    gap: 15px; /* Espacio entre elementos */
  }
  
  button {
    padding: 10px 10px; /* Aumenta el espacio interno del botón */
    font-size: 15px; /* Tamaño de fuente */
    font-weight: bold; /* Texto en negrita */
    background-color: rgba(51, 51, 51, 0.8); /* Fondo con transparencia */
    color: white; /* Texto en blanco para todos los botones */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: rgba(51, 51, 51, 1); /* Fondo más oscuro al pasar el cursor */
  }
  
  button.createGame {
    background-color: #007BFF; /* Color azul para el botón "Create New Game" */
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
  }
  
  button.createGame:hover {
    background-color: #0056b3; /* Color azul más oscuro al pasar el cursor */
  }
  
  button.createGame:active {
    background-color: #003f80; /* Color azul aún más oscuro al hacer clic */
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.4);
  }
  
  /* Estilo para los enlaces no visitados (por defecto) */
a {
  color: white; /* Establece el color que desees para los enlaces no visitados */
  text-decoration: none; /* Elimina el subrayado de los enlaces si lo deseas */
}

/* Estilo para los enlaces visitados */
a:visited {
  color: white; /* Establece el color que desees para los enlaces visitados */
}

.home{
  width: 80px;
  height: 50px;
}

.newgame{
  width: 80px;
  height: 50px;
}

.reloadgame{
  width: 80px;
  height: 50px;
}