/* SearchBar.module.css */
.searchBarContainer {
  display: flex;
  align-items: center;
  margin-left: -10px;
  background-color: rgb(9, 9, 9); /* Cambia el color de fondo según tus preferencias */
  border-radius: 500px;
  padding: 0px;
  max-width: 150px;
  max-height: 0px;
  margin-left: -30px;
  margin-top: -30px;
  margin-right: 100px;
}

.input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 0px 0 0 0px;
  text-indent: 5%;
  margin-right: 0; /* Elimina el margen derecho para que el botón esté junto a la entrada de búsqueda */
  background-color: white; /* Cambia el color de fondo de la entrada de búsqueda según tus preferencias */
  color: black; /* Cambia el color del texto */
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 0px;
  height: -100px;
  width: 150px;
}

.button {
  background-color: #333; /* Cambia el color de fondo del botón según tus preferencias */
  color: white;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  /* Elimina el margen izquierdo para que el botón esté junto a la entrada de búsqueda */
}

.button:hover {
  background-color: #333; /* Cambio de color al pasar el cursor */
  text-shadow: none;
  box-shadow: none;
  transform: none;
}

.button:active {
  background-color: #333; /* Cambio de color al hacer clic */
  box-shadow: none;
  transform: none;
}


.positionbutton{
  width: 10px;
  margin-top: -32px;
  margin-left: 150px;
}

