/* HomeContent.module.css */

.cardsContainer {
  display: flex;
  justify-content: center; /* Centra las cartas horizontalmente */
  align-items: center; /* Centra las cartas verticalmente */
  flex-wrap: wrap; /* Permite que las cartas se envuelvan a la siguiente línea si es necesario */
  
  
  margin: 0px auto;
  padding: 0px 0px 0px 0px; /* Añade un poco de espacio superior, inferior y solo a la derecha */
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.eachCard {
  width: 10px;
  flex: 0 0 calc(33.33% - 20px); /* Tres tarjetas por columna con margen entre ellas */
  margin: 110 5px; /* Margen horizontal entre las cartas (ajustado a 5px) */
}
