/* Filter.module.css */

.filterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Espacio uniforme entre elementos */
  align-items: center; /* Centra verticalmente los elementos */
}

/* Añade márgenes uniformes a todos los filtros */
.select {
  width: 10vw;
  height: 30px;
  padding: 4px;
  margin: 5px; /* Añade un margen uniforme a todos los lados (arriba, derecha, abajo, izquierda) */
  border-radius: 1px;
  background: #eee;
  border: none;
  outline: none;
  text-align: center;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: medium;
}

.option {
  background-color: #eee;
  color: #000;
}

.label {
  position: relative;
  font-size: large;
  font-weight: 500;
  color: #fff; /* Color de texto blanco */
}

.label:after {
  content: '<>';
  font: 11px "Consolas", monospace;
  color: #666;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 8px;
  top: 35px;
  padding: 0 0 2px;
  border-bottom: 1px solid #ddd;
  position: absolute;
  pointer-events: none;
}

.label:before {
  content: '';
  right: 6px;
  top: 30px;
  width: 20px;
  height: 20px;
  background: #eee;
  position: absolute;
  pointer-events: none;
  display: block;
}



/* Mover los elementos hacia abajo */
.rating {
  margin-bottom: 3px; /* Aumenta el margen inferior para mover el grupo hacia abajo */
  margin-left: -50px;
  margin-right: 70px;
  padding: 0px;
}

/* Mover los elementos hacia arriba */
.names {
  margin-top: -3px; /* Aumenta el margen superior para mover el grupo hacia arriba */
  margin-left: -22px;
  padding: 0px;
}

/* Mover los elementos hacia la izquierda */
.filGenres {
  margin-left: 15px; /* Aumenta el margen izquierdo para mover el grupo hacia la izquierda */
  margin-top: -3px;
  margin-right: -10px;
  padding: 0px;
}

/* Mover los elementos hacia la derecha */
.filGames {
  margin-top: -3px;
  margin-right: -30px;
  padding: 0px;
}


